# Ignore log files
*.log

# Ignore node modules
node_modules/
.terraform/
.terraform*

.DS_STORE

# env files
.env
.env.*

# keys/certs
*.pem
*.key
*.p12

# terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
